.container{
  border: 3px solid black ;   
}
.box1{
    
    width:400px ;
    background-color: yellow;
    padding:20px ;
    border:25px solid blue ;
    margin:30px ;
     
text-align:center ;
}