.container{
display:grid ;
height:580px ;
width:1000px ;
background-color:aqua ;
border: 1px solid black;
grid-template-columns: 1fr 1fr 1fr 1fr; 

grid-template-rows:repeat(3,1fr) ;
 grid-template-areas:"header header header header" "main main . sidebar"  "footer footer footer footer";
column-gap:10px ;
  justify-items:center;
 align-items: center;
  
}
.item{
    height: 100px;
   width:100px; 
   background-color:brown ; 
   border:1px solid black;
 align-items:center ;  
 text-align: center;
}

 .item1{
   grid-area: header ; 
   /* grid-column:2 ;
   grid-row:5 ;
   grid-column-start: ;
   grid-row-start: ; */
/* justify-self:start ; */
align-self:center ;
 }
   /* grid-column: 5/6;
   grid-column:2/4 ; */

 /* }

.item2{
    grid-area: main;

}
.item3{
    grid-area: sidebar ;
}
.item4{
    grid-area: footer ;
}      */
